.header__section--Logo,
.header__section--List {
  display: flex;
  align-items: center;
}

.header__img--Logo {
  width: 5rem;
}

.header__ul--List {
  display: flex;
  flex-grow: 0.3;
  justify-content: space-evenly;
  list-style: none;
}

.header__li--List {
  margin-right: 1rem;
}

.header__a--List {
  height: 2rem;
  display: block;
  font-size: 1.2rem;
  color: var(--primary_color);
  transition: all 300ms;
}

.header__li--List:last-child > a {
  color: red;
}
.header__li--List:last-child > a:hover {
  cursor: pointer;
  transform: none;
}

.header__a--List:hover {
  color: var(--cuaternary_color);
  transform: translateY(-10px);
}

@media only screen and (max-width: 400px) {
  .header__li--List {
    margin-right: 1rem;
  }

  .header__ul--List {
    display: block;
  }
}
